//.gitignore

node_modules
node_modules/**/*

db
db/**/*

*.tar
*.tar.gz

package-lock.json
npm-debug.log

*firebase-adminsdk*.json
/src/constants/config.json

cheatsheet

.DS_Store

*.js
!seedrandom.js
!json2csv.js
